.bg-red {
    background-color: #f00
}

.bg-blue {
    background-color: #00f
}

.bg-green {
    background-color: #0f0
}

.txt-red {
    color: #f00
}

.txt-blue {
    color: #00f
}

.txt-green {
    color: #0f0
}
